body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.postimg.cc/fRg5pkc8/DSC-0235.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(1) brightness(0.4);
    z-index: -1;
}

nav {
    background-color: #000000;
    padding: 70px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px; 
}

nav a {
    color: #ffffff;
    font-family: 'Gwendolyn', cursive;
    font-size: 100px;
    text-decoration: none;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 100px); 
    overflow: hidden;
}

/* AQUÍ SE HACE EL RECORTE DE PAPEL ROTO */
.hero-image {
    display: flex;
    align-items: flex-end; 
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    /* Este es el código que genera el efecto rasgado de tu foto */
    clip-path: polygon(0% 0%, 100% 0%, 85% 15%, 95% 35%, 80% 50%, 98% 70%, 85% 85%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 15%, 95% 35%, 80% 50%, 98% 70%, 85% 85%, 100% 100%, 0% 100%);
}

.hero-image img {
    height: 100%; 
    width: auto;
    display: block;
}

.hero-content {
    flex-grow: 1;
    text-align: center;
    color: white;
    z-index: 2;
}

h1 {
    font-family: 'Gwendolyn', cursive;
    font-size: 150px; 
    margin: 0;
}

h3 {
    font-family: 'Gwendolyn', cursive;
    font-size: 100px;
    color: #ffffff;
}

.btn-agendar {
    display: inline-block;
    color: white;
    padding: 40px 90px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Gwendolyn', cursive;
    font-size: 100px;
    border: 2px solid white;
    transition: 0.3s;
}

.btn-agendar:hover {
    background-color: #bfa15c;
    color: #1c1919;
}

.logo-img {
  max-width: 100%;
  height: 5rem;
  padding: 0;
  margin: 0;
}

.nav {
    height: 2rem;
}

.nav a:hover {
    background-color: transparent;
    color:#bfa15c
}